html
  head
    meta(charset='utf-8')
  body
    form(action='/formto' method='post')
      p
        input(type='text' name='title')
      p
        textarea(style="height:200px" name='article')
      p
        input(type='submit')
