html
  meta(charset='utf-8')
  body
    h1 Articles  
    p3
      a(href='/topic/new') new
    ul
      each topic in topics
        li
          a(href='/topic/'+topic)= topic
    article
      h2= title
      = description
